In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/math_students.csv")

In [ ]:
data.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [ ]:
data.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
len(data)

395

In [ ]:
len(data.columns)

33

In [ ]:
list(data)

['school',
 'sex',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'traveltime',
 'studytime',
 'failures',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences',
 'G1',
 'G2',
 'G3']

In [ ]:
pd.isnull(data).any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

In [ ]:
data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [ ]:
data['guardian'].value_counts()

mother    273
father     90
other      32
Name: guardian, dtype: int64

In [ ]:
data[(data['guardian']=='mother') & (data['Mjob']=='teacher') | (data['Mjob']=='at_home')]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8

In [ ]:
data['alc'] = data['Dalc'] + data['Walc']
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,5
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,3

In [ ]:
len(data)

395

In [ ]:
len(data.columns)

34

In [ ]:
data.shape

(395, 34)

In [ ]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'alc'],
      dtype='object')

In [ ]:
data['reason'].value_counts().idxmax()

'course'

In [ ]:
len(data[(data['Fedu']==0) & (data['Medu']==0)])

0

In [ ]:
age=data[data['school']=='MS']['age'].min()
data[(data['age'] == age) & (data['school']=='MS') ]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
351,MS,M,17,U,GT3,T,3,3,health,other,...,5,4,2,3,3,2,13,13,13,5
354,MS,M,17,R,GT3,T,4,3,services,other,...,5,5,1,3,2,4,13,11,11,4
356,MS,F,17,R,GT3,T,4,4,teacher,services,...,3,3,1,2,5,4,12,13,13,3
357,MS,F,17,U,LE3,A,3,2,services,other,...,2,3,1,2,5,2,12,12,11,3
363,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,3,4,1,1,1,0,16,15,15,2
364,MS,F,17,R,GT3,T,1,2,other,services,...,2,2,1,2,3,0,12,11,12,3
367,MS,F,17,R,GT3,T,1,1,other,services,...,2,1,1,2,1,0,7,6,0,3
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,4,3,1,1,3,8,13,11,11,2
373,MS,F,17,R,GT3,T,1,2,other,other,...,5,5,1,3,1,14,6,5,5,4
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,17,10,10,10,5
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,3,1,1,3,2,11,11,10,2
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,7

In [ ]:
print("количество студентов, имеющих нечетное число пропусков",len(data[data['absences']%2!=0]))
data[data['absences']%2!=0]

количество студентов, имеющих нечетное число пропусков 41

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,4,3,1,1,5,7,15,16,15,2
40,GP,F,16,U,LE3,T,2,2,other,other,...,3,3,1,2,3,25,7,10,11,3
206,GP,F,16,U,GT3,A,3,1,services,other,...,3,3,2,2,4,5,7,7,7,4
211,GP,M,17,U,LE3,T,4,4,services,other,...,3,5,4,5,3,13,12,12,13,9
213,GP,M,18,U,GT3,T,2,2,services,other,...,4,4,2,4,5,15,6,7,8,6
217,GP,M,18,U,LE3,T,3,3,services,health,...,2,4,2,4,4,13,6,6,8,6
218,GP,F,17,U,GT3,T,2,3,at_home,other,...,3,3,1,4,3,3,7,7,8,5
260,GP,F,18,U,GT3,T,4,3,services,other,...,1,2,1,3,2,21,17,18,18,4
262,GP,M,18,R,GT3,T,3,2,other,other,...,3,2,1,1,3,1,13,12,12,2
265,GP,M,18,R,LE3,A,3,4,other,other,...,2,5,3,4,1,13,17,17,17,7
270,GP,F,19,U,GT3,T,3,3,other,services,...,3,5,3,3,5,15,9,9,9,6
276,GP,F,18,R,GT3,A,3,2,other,services,...,1,1,1,1,5,75,10,9,9,2
278,GP,F,18,U,GT3,T,4,4,health,health,...,4,4,1,1,4,15,9,8,8,2
281,GP,M,17,U,LE3,A,3,2,teacher,services,...,4,4,3,4,3,19,11,9,10,7
282,GP,F,18,R,LE3,T,1,1,at_home,other,...,2,2,1,1,3,1,12,12,12,2
286,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,3,3,1,2,2,5,18,18,19,3
289,GP,M,18,U,LE3,A,4,4,teacher,teacher,...,4,3,1,1,2,9,15,13,15,2
290,GP,M,18,U,GT3,T,4,2,teacher,other,...,3,2,1,4,5,11,12,11,11,5
299,GP,M,18,U,LE3,T,4,4,teacher,teacher,...,4,2,2,2,1,5,16,15,16,4
312,GP,M,19,U,GT3,T,1,2,other,services,...,5,2,2,2,4,3,13,11,11,4
317,GP,F,18,U,GT3,T,4,3,other,other,...,3,4,1,1,5,9,9,10,9,2
320,GP,F,17,U,GT3,A,4,3,services,services,...,2,2,1,2,5,23,13,13,13,3
322,GP,F,17,R,LE3,T,2,2,services,services,...,3,2,2,2,3,3,11,11,11,4
323,GP,F,17,U,GT3,T,3,1,services,services,...,4,3,2,3,5,1,12,14,15,5
325,GP,M,18,U,GT3,T,4,4,other,other,...,3,3,2,2,3,3,9,12,11,4
326,GP,M,17,U,GT3,T,3,3,other,services,...,3,5,3,5,5,3,14,15,16,8
328,GP,F,17,U,GT3,T,4,4,teacher,services,...,4,4,1,3,4,7,10,9,9,4
331,GP,F,17,R,GT3,T,2,4,at_home,other,...,4,3,1,1,5,7,12,14,14,2
338,GP,F,18,U,LE3,T,3,3,services,services,...,3,3,1,1,1,7,16,15,17,2
342,GP,M,18,U,LE3,T,3,4,services,other,...,3,3,1,3,5,11,16,15,15,4
345,GP,F,18,U,GT3,T,3,2,other,services,...,4,3,2,3,1,7,13,13,14,5
346,GP,M,18,R,GT3,T,4,3,teacher,services,...,3,2,1,2,4,9,16,15,16,3
352,MS,M,18,U,LE3,T,1,3,at_home,services,...,3,3,2,3,3,7,8,7,8,5
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,3,3,2,3,3,3,14,12,12,5
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,17,10,10,10,5
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,3,1,3,5,5,7,6,7,4
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,7,6,5,6,4
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,7
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,6
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,6

In [ ]:
print("разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях.",round(data[data['romantic']=='yes']['G3'].mean()-data[data['romantic']=='no']['G3'].mean(),2))
data[data['romantic']=='yes']
data[data['romantic']=='no']

разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. -1.26

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,5
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,3
5,GP,M,16,U,LE3,T,4,3,services,other,...,4,2,1,2,5,10,15,15,15,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,7
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,6
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,7
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,6

In [ ]:
data['sex'].value_counts()

F    208
M    187
Name: sex, dtype: int64

In [ ]:
print("количество студентов, чья опекуном является отец и который работает врачом(полицейским)",len(data[(data['guardian']=='father') & ((data['Fjob']=='health') | (data['Fjob']=='service'))]))
data[(data['guardian']=='father') & ((data['Fjob']=='health') | (data['Fjob']=='service'))]

количество студентов, чья опекуном является отец и который работает врачом(полицейским) 7

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,2
52,GP,M,15,U,LE3,A,4,2,health,health,...,5,5,3,4,5,6,11,11,10,7
105,GP,F,15,U,GT3,A,3,3,other,health,...,3,3,1,1,4,10,10,11,11,2
122,GP,F,16,U,LE3,T,2,4,other,health,...,2,2,1,2,5,2,13,13,13,3
217,GP,M,18,U,LE3,T,3,3,services,health,...,2,4,2,4,4,13,6,6,8,6
278,GP,F,18,U,GT3,T,4,4,health,health,...,4,4,1,1,4,15,9,8,8,2
303,GP,F,17,U,GT3,T,3,2,health,health,...,2,2,1,2,5,0,17,17,18,3

In [ ]:
print("количество студентов, выбравших школу из-за репутации",len(data[data['reason']=='reputation']))
data[data['reason']=='reputation']

количество студентов, выбравших школу из-за репутации 105

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
5,GP,M,16,U,LE3,T,4,3,services,other,...,4,2,1,2,5,10,15,15,15,3
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,1,2,2,0,10,8,9,3
11,GP,F,15,U,GT3,T,2,1,services,other,...,2,2,1,1,4,4,10,12,12,2
16,GP,F,16,U,GT3,T,4,4,services,services,...,2,3,1,2,2,6,13,14,14,3
17,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,1,4,4,8,10,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,MS,F,17,U,LE3,A,3,2,services,other,...,2,3,1,2,5,2,12,12,11,3
367,MS,F,17,R,GT3,T,1,1,other,services,...,2,1,1,2,1,0,7,6,0,3
374,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,19,18,19,2
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,17,10,10,10,5
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,7,6,5,6,4

In [ ]:
m=data['absences'].max()
data[data['absences']==m]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
276,GP,F,18,R,GT3,A,3,2,other,services,...,1,1,1,1,5,75,10,9,9,2

In [ ]:
print("Kоличество студентов, чьи родители имеют высшее образование",len(data[(data['Medu'] == 4) & (data['Fedu'] == 4)]))
data[(data['Medu'] == 4) & (data['Fedu'] == 4)]

Kоличество студентов, чьи родители имеют высшее образование 70

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,2
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,1,4,1,1,1,6,6,5,6,2
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,1,2,2,0,10,8,9,3
12,GP,M,15,U,LE3,T,4,4,health,services,...,3,3,1,3,5,2,14,14,14,4
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,1,2,2,4,14,14,14,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,2,2,4,2,5,10,14,12,11,6
374,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,19,18,19,2
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,4,3,3,4,2,4,8,9,10,7
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,2,4,1,4,2,4,15,14,14,5
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,7,6,5,6,4

In [ ]:
m=data[data['absences'] > 5]['age'].max()
print(m)
data[(data['absences'] > 5) & (data['age'] == m)]

22

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
247,GP,M,22,U,GT3,T,3,1,services,services,...,4,5,5,5,1,16,6,8,8,10

In [ ]:
print("разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях.",round(data[data['internet']=='yes']['G3'].mean()-data[data['internet']=='no']['G3'].mean(),2))
data[data['internet']=='yes']
data[data['internet']=='no']

разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. 1.21

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,3
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,1,4,1,1,1,6,6,5,6,2
17,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,1,4,4,8,10,10,2
35,GP,F,15,U,GT3,T,2,3,other,other,...,5,1,1,1,5,0,8,7,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,MS,M,18,R,GT3,T,4,2,other,other,...,4,3,4,3,3,14,6,5,5,7
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,3,3,1,3,4,2,10,9,10,4
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,5,0,6,5,0,2
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,9
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,6